services:
  db:
    container_name: postgres-spring-boot
    image: postgres:latest
    environment:
      POSTGRES_USER: create
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5112:5432"
    networks:
      - db
    restart: unless-stopped

networks:
     db:
      driver: bridge

volumes:
    db: